body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 20px;
}

#hero {
    background-image: url('https://www.canva.com/design/DAFxuCj4FBI/KVigVz-LpPIuigxRPsaNPw/view?utm_content=DAFxuCj4FBI&utm_campaign=designshare&utm_medium=link&utm_source=editor');
    background-size: cover;
    text-align: center;
    color: #fff;
}

.cta-button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 5px;
}

#about, #products, #contact {
    background-color: #f4f4f4;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}
